# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
env/

# Data & Sensitive Info
data/raw/*
data/warehouse/*
!data/.gitkeep
config/*.env
.env
.DS_Store

# Jupyter
.ipynb_checkpoints/
